<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <a href="#" class="navbar-brand">Tasks Management Application</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link active" href="#">My Active Tasks</a></li>
                <li class="nav-item"><a class="nav-link" href="#">All Active Tasks</a></li>
                <li class="nav-item"><a class="nav-link" href="#">All Closed Tasks</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>