<div class="pt-4 container-fluid">
    <h3>Task Detail</h3>
    <ul class="pt-4 list-group">
        <li class="list-group-item"><b>Id:</b> {{task.id}}</li>
        <li class="list-group-item"><b>Task Name:</b> {{task.taskName}}</li>
        <li class="list-group-item"><b>Creator:</b> {{task.creator}}</li>
        <li class="list-group-item" appHighlight><b>Assignee:</b> {{task.assignee}}</li>
        <li class="list-group-item"><b>Status:</b> {{task.status}}</li>
        <li class="list-group-item"><b>Details:</b> {{task.details}}</li>
        <li class="list-group-item"><b>Creation Date:</b> {{task.creationDate | date: 'fullDate'}}</li>
    </ul>
</div>
